@{
    ViewData["Title"] = "Home Page";
    Layout = "_TestLayout";
}
@model IEnumerable<MerchantAcquirerAPI.Data.Models.Domains.NetworkTab>
<div class="row flex-lg-nowrap">
    <div class="col mb-3">
        <div class="e-panel card">
            <div class="card-body">
                <div class="card-title">
                    <h6 class="mr-2"><span>Registered Polices List</span><small class="px-1"></small></h6>
                </div>
                <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th>SN </th>
                                    <th>Name </th>
                                    <th class="sortable">Tracking Number </th>
                                    <th>Policy Start</th>
                                    <th>Policy End</th>
                                    <th>Created Date</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int rowNo = 0;}
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@(rowNo += 1)</td>
                                        <td class="text-nowrap align-middle">@item.FirstName @item.LastName</td>
                                        <td class="text-nowrap align-middle">@item.TrackingNumber</td>
                                        <td class="text-nowrap align-middle"><span>@item.PolicyStartDate</span></td>
                                        <td class="text-nowrap align-middle"><span>@item.PolicyStartEndDate</span></td>
                                        <td class="text-nowrap align-middle"><span>@item.CreatedDate</span></td>
                                        <td class="text-nowrap align-middle">

                                            <a asp-controller="MarketPlace" asp-action="PolicyDetails" asp-route-TrackingNumber="@item.TrackingNumber">View</a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                       
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
   
</div>

